importFrom("magrittr", "%>%")
importFrom("stats", "median", "pnorm", "quantile", "rbeta", "rbinom",
               "sd")
export(CS)
export(CS0)
export(DS)
export(HS)
export(e2_Monte_Carlo_EM)
export(plot_acf_CS)
export(plot_acf_DS)
export(plot_acf_HS)
export(plot_density_CS)
export(plot_density_DS)
export(plot_density_HS)
export(plot_trace_CS)
export(plot_trace_DS)
export(plot_trace_HS)
export(reshape_CS)
export(reshape_DS)
export(reshape_HS)
